## Data exploration

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/npf_train.csv')
df

,id,date,class4,partlybad,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,...,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std
0,1,2000-01-17,Ib,False,368.771711,0.310309,368.665658,0.305127,369.371184,0.333606,...,-1.476016,0.250952,-0.899393,0.271648,2.492491,1.310880,0.031587,0.018122,0.000243,0.000035
1,2,2000-02-28,nonevent,False,378.197295,1.001493,378.083089,1.025472,378.671311,1.017208,...,1.479493,0.313460,2.033191,0.271090,0.295937,0.177836,0.005140,0.003552,0.003658,0.000940
2,3,2000-03-24,Ib,False,373.043158,0.749865,372.930066,0.728411,373.569735,0.835240,...,-0.270844,2.037111,0.780422,2.334741,14.434789,8.627312,0.353743,0.272472,0.000591,0.000191
3,4,2000-03-30,II,False,375.643019,0.558629,375.549430,0.540964,376.045849,0.580730,...,5.622308,2.509758,6.533544,2.695277,16.077513,9.984686,0.568242,0.451830,0.002493,0.000466
4,5,2000-04-04,nonevent,False,377.661030,0.408421,377.609576,0.423963,378.117134,0.417243,...,1.140121,1.438071,2.133774,1.614122,9.710422,7.054069,0.339135,0.291457,0.004715,0.000679
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,460,2011-08-16,nonevent,False,381.016623,4.411571,381.030844,4.062115,382.901742,5.061991,...,16.319361,1.089563,17.268471,1.308728,8.688739,8.320799,0.464422,0.496816,0.002423,0.000425
460,461,2011-08-19,nonevent,False,383.698146,8.418351,384.052632,8.130389,386.436800,9.901536,...,15.820245,2.868514,16.352391,3.055122,18.475262,12.838481,0.884404,0.726461,0.002476,0.000902
461,462,2011-08-21,nonevent,False,379.279128,12.045785,379.363087,11.533353,381.268591,14.043508,...,14.421092,1.696894,15.094141,1.745526,8.099394,5.851942,0.416961,0.363890,0.003484,0.000457
462,463,2011-08-22,nonevent,False,384.443758,6.413297,384.364392,5.781036,386.384762,7.663215,...,15.049728,0.969001,16.076217,1.197644,11.665070,10.062797,0.622831,0.595032,0.004782,0.001082
463,464,2011-08-27,nonevent,False,382.230839,6.407469,382.448601,6.242533,384.061748,7.748701,...,21.040539,2.466867,21.946135,2.604069,16.670267,11.216294,0.899029,0.722553,0.006956,0.000605

In [5]:
# get some statistics on the columns
df.describe()

,id,CO2168.mean,CO2168.std,CO2336.mean,CO2336.std,CO242.mean,CO242.std,CO2504.mean,CO2504.std,Glob.mean,...,T672.mean,T672.std,T84.mean,T84.std,UV_A.mean,UV_A.std,UV_B.mean,UV_B.std,CS.mean,CS.std
count,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,...,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000,464.000000
mean,232.500000,382.072525,3.129971,382.086831,2.940651,382.977945,3.991636,381.990305,2.718960,188.904482,...,5.189277,1.593595,5.766543,1.911284,10.623039,7.450957,0.428800,0.366484,0.002963,0.000667
std,134.089522,11.080110,3.222030,11.055166,2.973224,10.665746,4.184408,11.067589,2.696396,126.716262,...,9.773583,0.995472,9.856338,1.183899,6.641686,4.989293,0.316118,0.287019,0.002146,0.000724
min,1.000000,359.579024,0.053968,359.096905,0.048990,361.904203,0.111492,358.786190,0.037417,3.478842,...,-23.900675,0.052584,-24.874583,0.043903,0.295937,0.177836,0.005140,0.003552,0.000243,0.000027
25%,116.750000,374.398155,0.845635,374.389589,0.789586,375.410833,0.949196,374.324536,0.781563,61.682710,...,-1.990758,0.686972,-1.477108,0.761495,4.236750,2.431709,0.125858,0.086265,0.001391,0.000266
50%,232.500000,380.814198,1.952732,380.727947,1.899320,381.600970,2.272311,380.632912,1.758853,194.669401,...,5.958894,1.655681,6.576933,1.945372,11.327445,7.588452,0.402249,0.334264,0.002398,0.000476
75%,348.250000,389.048782,4.428063,389.028476,4.141001,389.731608,5.960286,388.973036,3.903496,303.114842,...,13.039799,2.358992,13.831647,2.828374,16.460523,11.827837,0.669968,0.589098,0.003910,0.000791
max,464.000000,421.511176,19.460521,421.057843,17.439857,422.627800,20.851661,419.924510,16.656066,426.457432,...,27.110436,4.867253,27.938861,5.131955,22.541204,16.830501,1.197271,1.055615,0.012670,0.006277

In [7]:
# number of columns
len(df.columns)

104